<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=message.sender.username) }}">
                <img src="{{ message.sender.avatar(70) }}" alt="">
            </a>
        </td>
        <td>
            {% set sender_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=message.sender.username) }}">
                        {% if message.sender == current_user %}
                            {{ _('You') }}
                        {% else %}
                            {{ message.sender.username }}
                        {% endif %}
                    </a>
                </span>
            {% endset %}
            {% set reciever_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=message.recipient.username) }}">
                        {% if message.recipient == current_user %}
                            {{ _('You') }}
                        {% else %}
                            {{ message.recipient.username }}
                        {% endif %}
                    </a>
                </span>
            {% endset %}

            {{ _('%(username)s to %(recipient)s %(when)s', username=sender_link,
            when=moment(message.timestamp).fromNow(), recipient=reciever_link) }}<br>
            {{ message.body }}<br>
            {% set status %}
                {% if message.status %}Seen{% else %}Unread{% endif %}
            {% endset %}
            {{ _('Status: %(status)s', status=status) }}
            {% if current_user == message.sender %}
                <a href="{{ url_for('messages.user_messages',
                            username=message.recipient.username) }}">
                    {{ _('Conversation') }}</a>
            {% else %}
                <a href="{{ url_for('messages.user_messages',
                            username=message.sender.username) }}">
                    {{ _('Conversation') }}</a>
            {% endif %}
        </td>
    </tr>
</table>
