<table class="table table-hover">
    <tr>
        <td width="70px">
            <span class="user_popup">
                <a href="{{ url_for('main.user', username=message.sender.username) }}">
                    <img src="{{ message.sender.avatar(50) }}" alt="">
                </a>
            </span>
        </td>
        <td>{% if message.sender == current_user %}&rarr;
            {% else %}&larr; {% endif %}
            {{ message.body }}<br>
            {{ moment(message.timestamp).fromNow() }}
        </td>
    </tr>
</table>
