{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}" alt=""></td>
            <td>
                <h3 class="" style="text-align: center;">{{ _('User: %(username)s', username=user.username) }}</h3>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                    <p>{{ _('Last Seen on: %(when)s',
                        when=moment(user.last_seen).format('LLL')) }}</p>
                {% endif %}
                <p>{{ _('%(followers)s followers,',
                    followers=user.followers.count()) }}
                    {{ _('%(following)s following.',
                    following=user.followed.count()) }}</p>

                {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">
                    {{ _('Edit your Profile') }}</a></p>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('main.follow', username=user.username) }}">
                    {{ _('Follow') }}</a></p>
                {% else %}
                <p><a
                    href="{{ url_for('main.unfollow', username=user.username) }}">
                    {{ _('Unfollow') }}</a></p>
                {% endif %}
                {% if user != current_user %}
                <p>
                    <a href="{{ url_for('messages.user_messages', username=user.username) }}">
                    {{ _('Send private message') }}</a>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
    {% include "_pagination.html" %}
{% endblock %}
